<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi ?>

  <Product Id="*" Name="KFlearning" Language="1033" Version="1.1.0.0" Manufacturer="Kodesiana" UpgradeCode="{3C1DF2CB-96CC-4249-9E74-683A8C22A388}">
    <!-- Package -->
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Icon Id="icon.ico" SourceFile="$(var.IconFile)"/>
    <MediaTemplate EmbedCab="yes" />

    <!-- Install Conditions -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                  AllowDowngrades="no" AllowSameVersionUpgrades="no" />

    <!-- Features to install -->
    <Feature Id="ProductFeature" Title="KFlearning" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="MingwEnvironments" />
      <ComponentGroupRef Id="AppShortcuts" />
    </Feature>

    <!-- Properties -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.AssetsDir)\license.rtf" />
    <Property Id="WixShellExecTarget" Value="[#KFlearning.exe]" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Buka KFlearning" />

    <!-- UI -->
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <ProgressText Action="ExtractMingw">Installing MinGW-w64...</ProgressText>
      <ProgressText Action="ExtractFreeglutGlew">Installing Freeglut and GLEW...</ProgressText>
      <ProgressText Action="RemoveMingw">Removing MinGW-w64...</ProgressText>

      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">
        WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed
      </Publish>
    </UI>

    <!-- Custom Actions -->
    <CustomAction Id="ExtractMingw" Directory="INSTALLFOLDER" Return="check"
                  ExeCommand="&quot;[#sevenza.exe]&quot; x &quot;[#mingw_w64.7z]&quot; -o[WindowsVolume] -y" />
    <CustomAction Id="ExtractFreeglutGlew" Directory="INSTALLFOLDER" Return="check"
                  ExeCommand="&quot;[#sevenza.exe]&quot; x &quot;[#freeglut_glew.zip]&quot; -o[WindowsVolume] -y" />
    <CustomAction Id="RemoveMingw" Directory="INSTALLFOLDER" Return="ignore"
                  ExeCommand="&quot;[SystemFolder]cmd.exe&quot; /c rmdir [WindowsVolume]mingw32 /s /q" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <!-- Custom install sequence -->
    <InstallExecuteSequence>
      <Custom Action="ExtractMingw" After="InstallFinalize">NOT Installed</Custom>
      <Custom Action="ExtractFreeglutGlew" After="ExtractMingw">NOT Installed</Custom>
      <Custom Action="RemoveMingw" After="InstallFiles">Installed</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>
